{% extends "base.html" %} 

{% block content %}

<div>
	<h2> What Is This?</h2>

	<p>In late 2016, my partner and I took an adorable, jet-black baby kitteh from a friend who'd found him--along with a giant litter of his eerie but equally adorable doppelganger siblings--under her porch. Naturally we needed to give him a name. My partner already had a cat when we met, so I claimed the choice of the new little fella's moniker should be mine, as she'd had control over effectively half the pet name-space in the household.</p> 

	<p>Needless to say, she disagreed.</p>

	<p>Our (light-hearted) disagreement and the many related ones that followed hinged on an important and shared if unstated and differently interpreted premise. On some level, we were really agreeing that names and character, and thus to a possible extent names and destiny, are connected. This makes them too important to allow their assignment to fall to a single person's decision making. The argument therefore just stemmed from our differing senses of just who got to wield such awesome, fated power. </p>

	<p>Meanwhile, little "Orange"--the person who found his litter used colored collars to tell them apart--awkwardly remained "Orange" for the week or so it took us to hash the problem out.</p>

	<p>In the end we reached a satisfactory compromise, and young "Hamish" has become a fat and happy member of our home. But the whole experience made me think about the idea of names in new ways. More: it gave me a new respect for their power and importance. It also made me long, as I often do when the stakes feel high and the evidence for any one position is at best mixed, for impartial rule-governed arbitration (more on that shortly). </p>

	<p>In all the resultant brow-furrowing, something new occured to me. I really felt for the first time that the kind of thinking about names we were exhibiting made them much like a caption: <i> as a word or words that  describe or summarize something big and complex -- a person, a place, an object -- in a succinct way</i>. They're a lot of other things too, but this sense of name-as-caption seems to me most clearly and least problematically exemplified in the way we name <i>our pets</i>.</p> 

	<p> We see this when we feel inclined call a black cat "Sootie", or a dog with stripes "Stripey", or otherwise name them because they have a superficial resemblance to a kind of food (e.g., I think I've known at least a few red or orange cats and dogs named "Pizza") or to a famous figure whose characteristics or behavior the animal matches (ditto the above, but for "Garfield"). </p>

	<p>This network, <b>Name!That!Meatball!</b>, attempts to capture and leverage these relationships to generate pet names easily and automatically. This one's for you, past Dylan.</p>

	<h2>Name!That!Meatball!</h2>


</div>
{% endblock %}