{% extends "base.html" %} 

{% block content %}

<div>

	<h2>What Is This Stupid Thing?</h2>
	
	<p>
		A name can be thought of as a kind of caption, describing or summarizing the thing to which it points. Probably the clearest and least troubled use case for this way of thinking about names is for <i>our pets</i>. We've all seen plenty of orange cats named Garfield, black cats named Soot or Night, and Great Danes named Marmaduke. Some of this is just kneejerk, but I've always wondered if the kinds of information we use to make those decisions could be formalized somehow. To that end, I've made this deep neural network that attempts to bridge image-level features of pictures of our pets with their names.
	</p>

	<h2>Why Make Something So Stupid?</h2>

	<p>
		In late 2016, my partner and I adopted a baby kitteh. She had a cat at the time, so I argued that I should get to choose a name for the newest member of Boston's hottest, freshest vape crew (BLAZ3 INFINITY OP). While we hashed the issue out, the kitteh remained "Orange" (the litter he was found in was all black, and the woman who found them used colored collars to tell them apart). We ultimately reached a compromise, but the whole business left me hankering for an unbiased, automatic solution that could produce names for future BLAZ3 INFINITY crew members in a way we could both get behind.
	</p>

	<h2>What Do I Do With This Stupid Thing?</h2>

	<p>
		Name things: cats, dogs, cars, w/e. The power of Adam is yours! It's trained to work on pets, but it'll spit out a name no matter what you put in the form. That being said, there's been a lot of what I think is entirely fair, interesting discussion on the web of late about <a href="https://www.politico.com/agenda/story/2018/02/07/algorithmic-bias-software-recommendations-000631">"algorithmic racism"</a>. In order to head off any potential incidents, I'm stating here again that if you put a picture of a person in there, whatever you get back out has been produced outside the intended scope of operation of the algorithm, and that you do so without my blessing, and down the line you won't be able to put pictures of people in there at all.
	</p>

	<h2>How Does This Stupid Thing Work?</h2>

	<p>
		I scraped a set of images and names for 10000 randomly cats and dogs using Aaron Schlegel's excellent <a href="https://github.com/aschleg/petpy">PetPy</a> python wrapper for the PetFinder API. With this data, I trained an image captioning network with Keras and Tensorflow in Python following the steps <a href="https://machinelearningmastery.com/develop-a-deep-learning-caption-generation-model-in-python/">described in this guide</a>. The biggest change was using a slightly simpler convolutional neural network to extract image features during model training and in prediction for new images, as the whole business' hosted on Heroku, and VGG16 doesn't fit into memory on the cheapo hosting plan. Also note that the image is upload to the server temporarily, then deleted, so it's not stored any longer than is required to run the app.
	</p>

	<h2>What's Next For This Stupid Thing?</h2>

	<ul>
		<li>Automatic human detection and filtering</li>
		<li>More detailed explanation of what the underlying algorithm does and how it works</li>
		<li>Demonstration of image feature filter activations for uploaded images</li>
	</ul>



</div>
{% endblock %}